:root {
    --toolbar-bgcolor: #282828;
    --sidebar-min-width: 33px;
    --sidebar-visible-width: 300px;
    --toolbarbutton-border-radius: 0 !important;
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
  background-image: none !important;
  background-color: #131313 !important;
}

/* Inactive tabs color */
#navigator-toolbox {
  background-color: #1d2021 !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
  margin-left: -4px !important;
  margin-bottom: 0px !important;
}

#nav-bar:not([tabs-hidden='true']) {
  box-shadow: none;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}
.tabbrowser-tab[last-visible-tab='true'] {
  padding-inline-end: 0 !important;
}
#tabs-newtab-button {
  padding-left: 0 !important;
}


.titlebar-buttonbox-container {
	display: none;
}

#nav-bar {
    background-color: #131313 !important;
    background-image: none !important;
}
/* center urbbar text */
#urlbar:not([focused]) #urlbar-input, 
#urlbar:not([focused]) .urlbar-input{ text-align: center !important; }

#urlbar-input-container {
  background-color: #131313 !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}
#urlbar-background{
    background-color: #131313 !important;
    border: 0px solid rgba(0,0,0,0) !important;
}

#urlbar-container {
  margin-left: 0 !important;
}

#urlbar[focused='true'] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

.sidebar-splitter {
   display:none;
}

/* #TabsToolbar { */
/* visibility: collapse; */
/* } */

#sidebar-header {
    overflow: hidden !important;
}

#sidebar-box #sidebar-header {
    display: none !important;
}

#sidebar,
#sidebar-header {
    position: relative !important;
    min-width: var(--sidebar-min-width) !important;
    max-width: var(--sidebar-min-width) !important;
    transition: .1s ease .1s;
    z-index:1;
}

#sidebar-box:hover :-moz-any(#sidebar,#sidebar-header) {
    background-color: var(--toolbar-bgcolor) !important;
    min-width: var(--sidebar-visible-width) !important;
    max-width: var(--sidebar-visible-width) !important;
    margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-min-width)) * -1) !important;
    z-index:1;
    position: relative !important;
    transition: .1s ease .1s;
}

/* fix gray box */
#sidebar-box {
    min-width: var(--sidebar-min-width) !important;
    max-width: var(--sidebar-min-width) !important;
}

/* from sideberry wiki (dynamic tab) */
#main-window #TabsToolbar {
  /* height: 29px !important; */
  /* overflow: hidden; */
  transition: height .3s .3s !important;
}
#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
    visibility: collapse !important;
}
#main-window[titlepreface*="[Sidebery]"] #tabbrowser-tabs {
  z-index: 0 !important;
}
/* .. */


/* Nav toolbox under the sidebar */
#navigator-toolbox { z-index: 1; }

/* removes stuff */
#tracking-protection-icon-container,
#urlbar-zoom-button,
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#tabs-newtab-button,
#PanelUI-button
.tab-secondary-label {
  display: none !important;
}
#context_reopenInContainer{
  display: none !important;
}

/* hide container info */
/* #userContext-label{ */
/*     display:none !important; */
/* } */
/**/
/* #urlbar:hover #userContext-label{ */
/*     display: inline !important; */
/* } */

/* autohide urlbar info */
#urlbar-search-button,
#tracking-protection-icon-container,
#identity-box,
#identity-box.extensionPage #identity-icon-label{
  max-width: 0px;
  transition: max-width 100ms linear !important;
  overflow: hidden;
}

#identity-box.extensionPage{ max-width: 32px }

#urlbar:hover #urlbar-input-container > box,
#urlbar:hover #identity-box.extensionPage #identity-icon-label{
  max-width: 300px;
}
/* */

/* remove pre tab space */
.titlebar-spacer[type="pre-tabs"] {
    display:none;
}
