@import "./scss/variables";

* {
    all: unset;
}

tooltip {
    background-color: $secondary_bg;
    color: $primary_fg;
}

window {
    color: $primary_fg;
    font-family: "Inter Medium";
}

.ws {
    font-size: 16px;
    .unoccupied {
        color: $secondary_bg;
    }
    .occupied {
        color: $grey;
    }
    .active {
        color: $yellow;
    }
}

.time-bar {
    .hour{
        font-size: 18px;
        // font-weight: bold;
    }
    .minute{
        font-size: 18px;
        // font-weight: bold;
    }
    .meridiem{
        color: $grey;
        font-size: 16px;
    }
}

.barwindow {
    background-color: #131313;
    padding: 5px;
    .volume-bar {
        .slider-icon {
            font-size: 35px;
            color: $light_blue;
        }
        scale {
            marks {
                mark {
                    indicator {
                        min-height: 10px;
                        min-width: 10px;
                    }
                }
            }
            trough {
                min-width: 10px;
                min-height: 100px;
                border-radius: 20px;
                background-color: $secondary_bg;

                highlight {
                    background-image: linear-gradient(to top, $blue, $light_blue);
                    border-radius: 20px;
                }
            }
        }
    }
}

.dashwindow {
    background-color: #161616;
    padding: 10px;
    border-radius: 20px;
    .datetime {
        margin: 20px 0 0 0;
        .time {
            color: $primary_fg;
            font-family: $ui_font;
            font-size: 75px;
        }
        .date {
            color: $primary_fg;
            font-family: $ui_font;
            font-size: 20px;
        }
    }
    .player {
        background-color: #131313;
        border-radius: 20px;
        min-height: 130px;
        padding: 1em;
        .song-info {
            font-family: $ui_font;
            min-width: 300px;
            .song-title {
                font-size: 18px;
                padding: 0 0 5px 0;
            }
            .song-artist {
                font-size: 15px;
                color: #808080;
            }
        }
        .player-controls {
            font-family: $icon_font;
            margin-left: 10px;
            button {
                &:hover {
                    color: $yellow;
                }
            }
            .previous-button {
                font-size: 30px;
            }
            .toggle-button {
                font-size: 20px;
                padding-right: 5px;
            }
            .next-button {
                font-size: 30px;
            }
        }

    }
    .sliders {
        margin: 50px 0 0 15px;
        .volume-slider {
            .slider-icon {
                padding: 0 10px 0 0;
                margin:  0 10px 0 0;
                font-family: $icon_font;
                font-size: 20px;
            }

            scale {
                marks {
                    mark {
                        indicator {
                            min-height: 10px;
                            min-width: 10px;
                        }
                    }
                }
                trough {
                    min-width: 300px;
                    min-height: 15px;
                    border-radius: 20px;
                    background-color: $secondary_bg;

                    highlight {
                        background-image: linear-gradient(to right, $blue, $light_blue);
                        border-radius: 20px;
                    }
                }
            }
        }
        .brightness-slider {
            .slider-icon {
                padding: 0 10px 0 0;
                margin:  0 10px 0 0;
                font-family: $icon_font;
                font-size: 20px;
            }

            scale {
                marks {
                    mark {
                        indicator {
                            min-height: 10px;
                            min-width: 10px;
                        }
                    }
                }
                trough {
                    min-width: 300px;
                    min-height: 15px;
                    border-radius: 20px;
                    background-color: $secondary_bg;

                    highlight {
                        background-image: linear-gradient(to right, $yellow, $light_yellow);
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .toggles{
      margin: 10px;
      min-height: 100px;
      min-width: 100px;
      font-family: $icon_font;
      font-size: 25px;
      .btn {
        &:hover {
            color: $red;
        }
        margin: 5px;
        min-height: 70px;
        min-width: 100px;
        border-radius: 20px;
        background-color: #131313;
      }
    }

}
